.debug-console{
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 50px;
    width: 16%;
    height: 60%;
    background-color: aliceblue;
    border: 2px #ccc solid;
}

.debug-console.console-right {
    left: inherit;
    right: 0;
}


.debug-console #console{
    margin:15px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70%;
}


.debug-console .title{
    font-size: 20px;
    color: green;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #D0F5E8;
}

.debug-console .title small{
    font-size: 12px;
    float: right;
    padding-right: 10px;
    color: #545454;
}